*{
    position: relative;
    background-color: white;
    background-image: url("https://c8.alamy.com/comp/T3HCB0/gaming-icon-on-background-for-graphic-and-web-design-simple-vector-sign-internet-concept-symbol-for-website-button-or-mobile-app-T3HCB0.jpg");
}

h1 {
    color: blue;
    text-align: center;
}