* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

.grid {
    margin: 0 auto;
    width: 400px;
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    font-size: 200px;
    text-align: center;
    opacity: 0.6;
    background-image: url("pictures/night_sky_doodle_by_abstractkicker_dd999od-pre.jpg");
}
.doodler {
    width: 80px;
    height: 75px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    background-image: url("https://www.models-resource.com/resources/big_icons/30/30024.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.platform {
    width: 85px;
    height: 15px;
    background-color: palevioletred;
    position: absolute;
}

